/*  pink color style    */
.fa-music,
.preloader .loader i,
.people-section .people-item-inner .social-links a i,
/* .event-section .event-item-inner span, */
.story-section .story-item i,
.mempelai-section .mempelai i.fa-heart,
body.dark .header .nav ul li a.active,
.header .nav ul li a.active,
body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #fb839e;
}
.fa-music,
.people-section .people-item-inner .social-links a i,
/* .event-section .event-item-inner::before, */
.mempelai-section .mempelai img{
    border-color: #fb839e;
}
.preloader .loader::before{
    border-right-color: #fb839e;
}
.fa-music.pause::after,
.setting .s-toggle-btn,
.people-section .people-item-inner .social-links a:hover i,
body.dark .people-section .filter-btn.active,
.people-section .filter-btn.active

{
    background-color: #fb839e;
}

.mempelai-section .social-links a i,
.mempelai-section .social-links a:hover i,
.mempelai-section .social-links a i
{
 color: #ffffff;
 background-color: #7E9474;
 border-color: #7E9474;
}
